  <li id="letter-<%= letter.id %>">
    <span class="content">
      <%= raw Rinku.auto_link(simple_format(h(letter.content))) %>
    </span>
    <span class="user">by <%= letter.user.name %></span>
    <span class="timestamp">
      <%= link_to letter.created_at.strftime("%Y/%m/%d %H:%M"), letter %>
    </span>
    <% if current_user?(letter.user) %>
      <span class="delete">
        <%= link_to "削除", letter, method: :delete, data: {confirm: "削除してよろしいですか？"} %>
      </span>
    <% end %>
  </li>