  <li id="letter-<%= letter.id %>">
    <span class="content">
      <%= simple_format(h(letter.content)) %>
    </span>
    <span class="user">by <%= letter.user.name %></span>
    <span class="timestamp">
      <%= letter.created_at.strftime("%Y/%m/%d %H:%M") %>
    </span>
    <% if current_user?(letter.user) %>
      <span class="delete">
        <%= link_to "delete", letter, method: :delete, data: {confirm: "削除してよろしいですか？"} %>
      </span>
    <% end %>
  </li>