  <li id="letter-<%= letter.id %>">
    <span class="user"><%= link_to letter.user.name, letter.user %></span>
    <span class="content">
      <%= letter.content %>
    </span>
    <span class="timestamp">
      <%= letter.created_at %>
      <% if current_user?(letter.user) %>
        <%= link_to "delete", letter, method: :delete, data: {confirm: "削除してよろしいですか？"} %>
      <% end %>
    </span>
  </li>